CMakeLists.txt.user
CMakeLists.txt.user*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

devel/
logs/
build/
bin/
lib/
msg_gen/
srv_gen/
build_isolated/
devel_isolated/

*.cfgc
/cfg/cpp/
/cfg/*.py

CATKIN_IGNORE

.DS_Store
.cproject
.project
.pydevproject

*~
*.orig
*.pyc
.#*
*.cpp.autosave.*
